{% extends 'base.html' %}
{% block title %}Comentar{% endblock %}


{% block content %}
   
{% if user.is_authenticated %}

	<h1>Agregá un comentario</h1>
	<br/><br/>

	<div class="form-group">
<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-secondary">Comentar</button>
	</div>


<script>
var name = "{{ user.username }}";
document.getElementById("elder").value = name;
</script>


{% else %}
<h2>Para comentar debe estar logueado.</h2>
<br/><br/>

{% endif %}

{% endblock %}