{% extends 'base.html' %}


{% block title %}Crear nuevo post{% endblock %}


{% block content %}


{% if user.is_authenticated %}

<h1>Crear nuevo post</h1>

<br/><br/>

<div class="form-group">
<form method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-primary">Postear</button>
</div>


<script>
var name = "{{ user.id }}";
document.getElementById("elder").value = name;
</script>



{% else %}
<h1>Acceso denegado</h1>

{% endif %}


<br/><br/>
<br/><br/>
{% endblock %}