{% extends 'base.html' %}
{% block content %}


{% if category_posts_2 %}  

{% if cats == 'Pobreza' %}
<h1>Categoría: Fin de la pobreza</h1>
{% endif %}

{% if cats == 'Hambre' %}
<h1>Categoría: Hambre cero</h1>
{% endif %}

{% if cats == 'Salud' %}
<h1>Categoría: Salud y bienestar</h1>
{% endif %}

{% if cats == 'Educacion' %}
<h1>Categoría: Educación de calidad</h1>
{% endif %}

{% if cats == 'Igualdadgenero' %}
<h1>Categoría: Igualdad de género</h1>
{% endif %}

{% if cats == 'Agua' %}
<h1>Categoría: Agua limpia y saneamiento</h1>
{% endif %}

{% if cats == 'Energia' %}
<h1>Categoría: Energía asequible y no contaminante</h1>
{% endif %}

{% if cats == 'Trabajo' %}
<h1>Categoría: Trabajo decente y crecimiento económico</h1>
{% endif %}

{% if cats == 'Industria' %}
<h1>Categoría: Industria, innovación e infraestructura</h1>
{% endif %}

{% if cats == 'Desigualdades' %}
<h1>Categoría: Reducción de las desigualdades</h1>
{% endif %}

{% if cats == 'Comunidades' %}
<h1>Categoría: Ciudades y comunidades sostenibles</h1>
{% endif %}

{% if cats == 'Produccion' %}
<h1>Categoría: Producción y consumos responsables</h1>
{% endif %}

{% if cats == 'Clima' %}
<h1>Categoría: Acción por el clima</h1>
{% endif %}

{% if cats == 'Submarina' %}
<h1>Categoría: Vida submarina</h1>
{% endif %}

{% if cats == 'Ecosistemas' %}
<h1>Categoría: Vida de ecosistemas terrestres</h1>
{% endif %}

{% if cats == 'Paz' %}
<h1>Categoría: Paz, justicia e instituciones sólidas</h1>
{% endif %}

{% if cats == 'Alianzas' %}
<h1>Categoría: Alianzas para lograr los objetivos</h1>
{% endif %}

{% if cats == 'General' %}
<h1>Categoría: General</h1>
{% endif %}


<u>Filtro activado: por número de comentarios</u>


<br/><br/>
<ul>
{% for post in category_posts_2 %}

<li>
    <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{ post.author }} - {{ post.post_date }}
    
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    
    - <a href="{% url 'update_post' post.pk %}">(Editar)</a> - 
    
    <a href="{% url 'delete_post' post.pk %}">(Eliminar)</a>
    
    {% endif %}
    {% endif %}
    
    <br/><br/>
    </li>

{% endfor %}
</ul>


{% else %}

<h1>No hay ningún post en esta categoría.</h1>

{% endif %}


{% endblock %}