{% extends 'base.html' %}


{% block title %}Eliminar post{% endblock %}


{% block content %}


{% if user.is_authenticated %}
{% if user.id == post.author.id %}

<h1>Eliminar post</h1>

<br/><br/>


<h3>Eliminar: {{ post.title }}</h3>

<br/>
<div class="form-group">
<form method="POST">
    {% csrf_token %}
    <strong>Desea eliminar el post?</strong>
    <br/><br/>
    <button class="btn btn-danger">Eliminar</button>
</div>

{% else %}
<h1>Acceso denegado</h1>
{% endif %}

{% else %}
<h1>Acceso denegado</h1>

{% endif %}


<br/><br/>
<br/><br/>
{% endblock %}